/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 8:09:54 PM
    Author     : hisham
*/

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.yellow{
    background:rgb(169,145,32);

}

.registrationPanelGrid{
 width: 100%;
 
}


.registrationPanelGrid .ui-panelgrid-cell {
    border-style: none; 
    background-color: #2d3b55;color: white;
    height: 50px;

}
.registrationPanelGrid .ui-widget-content{
    border:none;
}
 
.registrationInputfield{    
    width: 93%;
}

.registrationSelectfield{    
    width: 85%;
}

/*.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{

    padding-right: 0px;
    width: 95%;
}*/
body {
    background-color: #2d3b55;

}
.button {
  background: #7d9aab;
}

.button:hover{
    background:#90EE90;
    color:#333;
    box-shadow:0 10px 15px 0 rgba(0,0,0,0.4);
    -moz-box-shadow:0 10px 15px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow:0 10px 15px 0 rgba(0,0,0,0.4);
    -o-box-shadow:0 10px 15px 0 rgba(0,0,0,0.4);
    -ms-box-shadow:0 10px 15px 0 rgba(0,0,0,0.4);
}

.registrationForm{
    float: right;
}

/*.logingForm{
    float: right;
}*/

.logingPanelGrid{
 width: 100%;
 
}


.logingPanelGrid .ui-panelgrid-cell {
    border-style: none; 
    background-color: #2d3b55;color: white;
/*    height: 53px;
    padding-bottom: 0px;
    padding-top: 0px;*/

}
reg-logo{
    margin-top: 10px;
    margin-left: -23px;
    margin: -12px;
    width: 50%;

}
.logingPanelGrid .ui-widget-content{
    border:none;
}
 
.logingInputfield{    
    width: 93%;
}



.login-container{

    width: 50%;
    border: none;
    padding: 10px;

}

.login-logo{
    margin: auto;
    width: 50%;
}

.login-pic{
    height: 100%;
    width: 100%;
}

.logingMainPanelGrid{
 height: 100%;
    width: 100%;
}


.ui-widget-content{
    border:0px;
}

.wrapper{
    width:100%;
    margin:0 auto;
    height:100%;
}

.sideM .ui-widget-content{
     background-color: #2d3b55;
}

.northPanalGrid .ui-panelgrid .ui-panelgrid-cell{
    border-style:hidden;
    padding:0px;
}

.ui-layout-unit{
    padding: 0px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #f92525;
}

.ui-panelmenu .ui-menuitem-text{
    color: #85b2cb;
    
}

.it  .ui-menuitem-link .ui-state-hover{
    color: red; 
}



